.link {
  margin: 50px 110px;
  font-size: 25px;
  text-decoration: underline;
  color: #00d1ff;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.link:hover {
  background-color: rgba(0, 123, 255, 0.3);
}
